// Colours
$neutral-900: #000000;
$neutral-800: #171717;
$neutral-700: #2D2D2D;

$white: #FEFEFE;

$grey: #616161;



// Background colours
.lorebg-n900 {
  background-color: $neutral-900;
}
.lorebg-n800 {
  background-color: $neutral-800;
}
.lorebg-n700 {
  background-color: $neutral-700;
}

// Text
.lore-text-n800 {
  color: $neutral-800;
}