@import "colors";

// search bar
nav,
.breadcrumbs {
  a:hover {
    text-decoration: underline;
  }
}

.breadcrumbs .crumb:before {
  content: "/";
  margin: 0 8px;
}

.navMenuShd {
  box-shadow: -3.2px -3.2px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav-menu {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.nav-menu-exit1 {
  transform: translateX(-78%);
  -webkit-transform: translateX(-78%);
  -moz-transform: translateX(-78%);
  -ms-transform: translateX(-78%);
  -o-transform: translateX(-78%);
}

.nav-menu-enter1 {
  transform: translateX(22%);
  -webkit-transform: translateX(22%);
  -moz-transform: translateX(22%);
  -ms-transform: translateX(22%);
  -o-transform: translateX(22%);
}
.nav-menu-exit2 {
  transform: translateX(-180%);
  -webkit-transform: translateX(-180%);
  -moz-transform: translateX(-180%);
  -ms-transform: translateX(-180%);
  -o-transform: translateX(-180%);
}

.nav-menu-enter2 {
  transform: translateX(22%);
  -webkit-transform: translateX(22%);
  -moz-transform: translateX(22%);
  -ms-transform: translateX(22%);
  -o-transform: translateX(22%);
}

#finderBtn {
  background: rgb(165, 160, 246);
  background: linear-gradient(123deg, rgba(165, 160, 246, 1) 0%, #5854ee 100%);
  box-shadow: 0 0 15px 1px #9793e0;

  &:hover {
    box-shadow: 0 0 15px 1px #e7e6f1;
  }
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
